.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	background-color: #111;
} 

.navbar li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
} 




.navbar li { 
float:left; 
}









 



